:root{
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

header{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 0.1rem;
    color: rgb(238, 188, 127);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-end;
    
}

.nav-superior a{
    box-shadow: rgba(126, 126, 126, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(112, 110, 110, 0.07) 0px 16px 32px, rgba(156, 156, 156, 0.07) 0px 32px 64px;
    text-size-adjust: 20px;
    border-radius: 7px;
    width: 2rem;
    margin-left: 1rem;
    padding: 0.4rem;

   }

.pages-titles1{
    color: rgb(255, 201, 76);
    margin-top: 4rem;
    box-sizing: border-box; 
    font-weight: bold;
    font-size: 2rem;   
}

.pages-titles2{
    color: rgb(240, 104, 80);
    box-sizing: border-box; 
    margin-bottom: 0.3rem; 
}


.foot-text{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding:  1rem;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.528470763305322) 50%, rgba(252,176,69,1) 100%);  
}

/*Home Page-Beginning*/

.main-home{
    min-height: 100vh;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.titles-home1{
    color: rgb(255, 201, 76); 
    padding-top: 4rem;
    font-weight: bold;
    font-size: 2.5rem;  
}


.titles-home2{
    color: rgb(240, 104, 80);
    padding: 0.4rem;
    margin-bottom: 0.3rem; 
    
}

.banner{
    background-image: url(../images/imagebanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25vh;
    width: 100%;
    object-fit: contain;
    margin-top: 1rem;
    
}

.content-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60rem;
    padding-left: 15rem;
    
}

.home-text{
    color: rgb(232, 204, 255);
    text-align:center;
    margin: 2rem;
    line-height: 2rem;

}
.photo_1{ 
    height: 15rem;
    width: 15rem;
    object-fit:cover;
    margin: 2rem;
    border-radius: 7px;
   
}

/*End of Home page

        About Us Page - Beginning*/

        .main-au{
            min-height: 100vh;
            text-align: center;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .cards-au{
            display: flex;
            justify-content: center;
        }
        
        .au-content1 img{
            width: 13rem;
            height: 13rem;
            margin:1.5rem;
            object-fit: cover;
            border-radius: 7px;
        }        


        .au-content1 p{
            width: 22rem;
            padding: 3.5rem;
            margin:1.5rem;
            margin-left: 2rem;
            color: rgb(232, 204, 255);        
            line-height: 2rem;  
        }      
        
        
       
/*End of About Us Page

        Contact Page - Beginning*/
       
        .main-contact{
            min-height: 100vh;
            text-align: center;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .photo_5{
            height: 20rem;
            width: 40rem;
            object-fit:cover;
            border-radius: 7px;
            margin: 0rem auto;
            margin-top: 1.5rem;          
            
        }

        .contact_content1 p{
            color: rgb(232, 204, 255);
            width: 40rem;
            text-align: justify;
            margin: 0rem auto;
            margin-top: 1.5rem;
             
        }

        .contact_info{
            color: rgb(232, 204, 255);
            width: 40rem;
            margin: 0rem auto;
            margin-top: 1.5rem;
            padding-bottom: 3rem;
          
        }

        .mail{
            float:left;

        }

        .phone{
            float: right;         
        }

/*End of Contact Page

        Services - Beginning*/

        .main-services{
            min-height: 93vh;
            text-align: center;
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        table,tr,th,td{
            color:  rgb(232, 204, 255);
            border:1px solid rgb(255, 201, 76);
            border-collapse: collapse;
            width: 40rem;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            
        }

        th{
            height: 6rem;
            background-color: rgb(255, 201, 76);
            color: black;
            border:1px solid black;
        }

        td{
            height: 4rem;
            
        }

        tr:hover {
            background-color: rgb(202, 69, 46);
        }

/*End of Services Page

        Ratings - Beginning*/

        .main-r{
            min-height: 100vh;
            text-align: center;
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

       

        .rating-1{
            color: rgb(232, 204, 255);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 40rem;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 15px -3px, rgba(174, 171, 171, 0.05) 0px 4px 6px -2px;
            
        }

        h5{
            font-size: 23px;
            padding-bottom: 1rem;
        }

        ul{
            width: fit-content;
            justify-content: center;
            align-items: center;
            line-height: 1.5rem;
            list-style-type: none;
            
        }

        .stars{
            width: 10rem;
            height: 3rem;
            object-fit: cover;
        }

        