:root{
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

header{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 0.1rem;
    color: rgb(238, 188, 127);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;

}

.logo{
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: flex-end;
    
}

.nav-superior a{
    box-shadow: rgba(126, 126, 126, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(112, 110, 110, 0.07) 0px 16px 32px, rgba(156, 156, 156, 0.07) 0px 32px 64px;
    border-radius: 7px;
    width: 2rem;
    margin-left: 1rem;
    padding: 0.4rem;
   }

.pages-titles1{
    color: rgb(255, 201, 76);
    margin-top: 4rem;
    box-sizing: border-box; 
    font-weight: bold;
    font-size: 2rem;   
}

.pages-titles2{
    color: rgb(240, 104, 80);
    box-sizing: border-box; 
    margin-bottom: 0.3rem; 
}

.foot-text{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 8vh;
    padding:  1rem;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.528470763305322) 50%, rgba(252,176,69,1) 100%);  
}

/*Home Page-Beginning*/

.main-home{
    min-height: 94vh;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titles-home1{
    color: rgb(255, 201, 76); 
    padding-top: 4rem;
    font-weight: bold;
    font-size: 2.5rem;  
}

.titles-home2{
    color: rgb(240, 104, 80);
    padding: 0.4rem;
    margin-bottom: 0.3rem; 
    
}

.banner{
    background-image: url(../images/imagebanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25vh;
    width: 100%;
    object-fit: contain;
    margin-top: 1rem;
    
}

.content-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   
}

.home-text{
    color: rgb(232, 204, 255);
    text-align:center;
    margin: 2rem;
    line-height: 2rem;
    width: 20rem;

}
.photo_1{ 
    height: 15rem;
    width: 15rem;
    object-fit:cover;
    margin: 2rem;
    border-radius: 7px;
}

@media only screen and (min-width:320px) and (max-width:767px) {
    header {
        flex-direction: column-reverse;
        min-height: 45vh;
        align-items: center;
        position: sticky;  
    }

    nav{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .nav-superior a{
        width: 7rem;
        text-align: center;  
        margin-left: 0;
    }

    .pages-titles1{
        padding-top: 0;
    }

    .titles-home1{
        padding-top: 0.5rem;
    }

    .content-home{
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    .home-text{
        margin:1rem;
        width: 100%;
        padding: 0.5rem;
    }

    .photo_1{
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    header {
        flex-direction: column-reverse;
        min-height: 45vh;
        align-items: center;
        position: sticky;  
    }

    nav{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .nav-superior a{
        width: 7rem;
        text-align: center;  
        margin-left: 0;
    }

    .titles-home1{
        padding-top: 0.5rem;
    }

    .pages-titles1{
        padding-top: 0;
    }

    .content-home{
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    .home-text{
        margin:1rem;
        width: 100%;
        padding: 0.5rem;
    }

    .photo_1{
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
}

/*End of Home page

        About Us Page - Beginning*/

        .main-au{
            min-height: 94vh;
            text-align: center;
            background-color: black;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
        }

        .cards-au{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .au-content1 img{
            width: 13rem;
            height: 13rem;
            margin:1.5rem;
            object-fit: cover;
            border-radius: 7px;
        }        


        .au-content1 p{
            width: 22rem;
            padding: 3.5rem;
            margin:1.5rem;
            margin-left: 2rem;
            color: rgb(232, 204, 255);        
            line-height: 2rem;  
        }      
        
        @media only screen and (min-width:320px) and (max-width:767px) {
            .main-au{
                width: 100%;
            }
            
            
            .pages-titles1{
                margin-top: 0.5rem;  
            }
        

            .au-content1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;
            }

            .au-content1 p{
                padding: 0;
                margin:0;
                margin-bottom: 1rem;
                width: 90%;
            }

        }

        @media only screen and (min-width:768px) and (max-width:1023px) {
            .main-au{
                width: 100%;   
            }
            
            
            .pages-titles1{
                margin-top: 0.5rem;
                width: 90%;
            }
        

            .au-content1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;  
            }

            .au-content1 p{
                padding: 0;
                margin:0;
                margin-bottom: 1rem;
                width: 80%;
            }

        }
       
/*End of About Us Page

        Contact Page - Beginning*/
       
        .main-contact{
            min-height: 94vh;
            text-align: center;
            background-color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        .photo_5{
            height: 20rem;
            width: 40rem;
            object-fit:cover;
            border-radius: 7px;
            margin: 0rem auto;
            margin-top: 1.5rem;          
            
        }

        .contact_content1 p{
            color: rgb(232, 204, 255);
            width: 40rem;
            text-align: justify;
            margin: 0rem auto;
            margin-top: 1.5rem;
             
        }

        .contact_info{
            color: rgb(232, 204, 255);
            width: 40rem;
            margin: 0rem auto;
            margin-top: 1.5rem;
            padding-bottom: 3rem;
            display: flex;
            justify-content: space-between;
          
        }


        @media only screen and (min-width:320px) and (max-width:767px) {
            .main-contact{
                width: 100%;
            }

            .photo_5{
                width: 80%;
            }

            .contact_content1 p{
                width: 80%;
            }

            .contact_info{
                flex-direction: column;
                width: 80%;
                gap: 1rem;
            }
        }

        @media only screen and (min-width:768px) and (max-width:1023px) {
            .main-contact{
                width: 100%;
            }

            .pages-titles1{
                width: 100%;
            }

            .pages-titles2{
                width: 100%;
            }

            .photo_5{
                width: 80%;
            }

            .contact_content1 p{
                width: 80%;
            }

            .contact_info{
                flex-direction: column;
                width: 80%;
                gap: 1rem;
            }
        }

/*End of Contact Page

        Services - Beginning*/

        .main-services{
            min-height: 93vh;
            text-align: center;
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        table,tr,th,td{
            color:  rgb(232, 204, 255);
            border:1px solid rgb(255, 201, 76);
            border-collapse: collapse;
            width: 40rem;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            
        }

        th{
            height: 6rem;
            background-color: rgb(255, 201, 76);
            color: black;
            border:1px solid black;
        }

        td{
            height: 4rem;
            
        }

        tr:hover {
            background-color: rgb(202, 69, 46);
        }

        @media only screen and (min-width:320px) and (max-width:767px) {
           
            .main-services {
                width: 100%;
                justify-content: center;
            }

            .titles-services{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .pages-titles2{
                width: 80%;

            }

            table{
                width: 80%;
                font-size: 13px;
             }
 
        }

        @media only screen and (min-width:768px) and (max-width:1023px) {
            .main-services {
                width: 100%;
            }

            .titles-services{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .pages-titles2{
                width: 100%;
            }

            table{
                width: 80%;
                font-size: 18px;
             }
        }

/*End of Services Page

        Ratings - Beginning*/

        .main-r{
            min-height: 94vh;
            text-align: center;
            background-color: black;
            display: flex;
            flex-direction: column;
        }

        .rating-1{
            color: rgb(232, 204, 255);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 15px -3px, rgba(174, 171, 171, 0.05) 0px 4px 6px -2px;
            
        }

        h5{
            font-size: 23px;
            padding-bottom: 1rem;
        }

        ol{
            line-height: 1.5rem;
            width: 15rem;
            text-align: center;
            list-style-position: inside;
        }

        .stars{
            width: 10rem;
            height: 3rem;
            object-fit: cover;
        }

        @media only screen and (min-width:320px) and (max-width:767px) {
            .main-r{
                width: 100%;
                justify-content: center;
            }

            .rating-1{
                flex-direction: column; 
                width: 100%;
                font-size: 15px;
                margin-bottom: 1rem;                
            }

            .list-1{
                width: 80%;
                padding-left: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .profile-pic{
                width: 80%;
            }
            
            ol{
                width: 100%;
                text-align: center;
                list-style-position: inside;
            }
            
            
        }

        @media only screen and (min-width:768px) and (max-width:1023px) {
            .main-r{
                width: 100%;
                justify-content: center;
            }

            .rating-1{
                flex-direction: column; 
                width: 100%;
            }

            .list-1{
                width: 80%;
                padding-left: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
            }
            
            ol{
                width: 100%;
                text-align: center;
                list-style-position: inside;
            }
        }
/*End of Ratings Page

        Hire - Beginning*/    
        
        .main-hire{
            min-height: 94vh;
            text-align: center;
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .map-title{
            color: rgb(232, 204, 255);
        }

        .content-hire{
            display: flex;
            align-items: center;
            gap: 4rem;
            margin-top: 1.5rem;
            margin-bottom: 2.5rem;
        }

        .form{
            display: flex;
            flex-direction: column;
            color: white;
            text-align: left;
        }
        
        label{
            width: 20rem;
            text-align: left;
        }

        textarea{
            width: 20rem;
            height: 5rem;
            border-radius: 7px;
        }

        fieldset{
            border: none;  
        }

        input,select{
            margin-bottom: 1rem;
            margin-top: 0.4rem;
            padding: 0.2rem;
            border-radius: 7px;
        }

        .tw{
           width: 20rem; 
        }

        @media only screen and (min-width:320px) and (max-width:767px) {
            .main-hire{
                width: 100%;
            }

            .content-hire{
                flex-direction:column-reverse;
                gap:0;
            }

            .form{
                width: 90%;
            }

            textarea,.tw{
                width: 90%;
            }
            
        }
        
        @media only screen and (min-width:768px) and (max-width:1023px) {
            .main-hire{
                width: 100%;
            }

            .content-hire{
                flex-direction:column-reverse;
                gap:0;
            }

            .form{
                width: 90%;
            }

            textarea,.tw{
                width: 90%;
            }    
        }