:root{
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.header {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    padding: 0.1rem;
    color: rgb(236, 191, 137);
    overflow: auto;
}

.logo{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    
}

.nav-superior {
    display: inline-block;
    block-size: auto;
    margin: 0.4rem;
    padding: 0.4rem;
    box-shadow: rgba(126, 126, 126, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(112, 110, 110, 0.07) 0px 16px 32px, rgba(156, 156, 156, 0.07) 0px 32px 64px;
    text-align: center;
    text-size-adjust: 20px;
   }

main{
    min-height: 100vh;
    text-align: center;
    background-color: black;
}

.c-titles1{
    color: bisque;
    display: block;
    padding: 0.5rem;
    box-sizing: border-box;  
}

.c-titles2{
    color: bisque;
    display: block;
    padding: 0.4rem;
    box-sizing: border-box; 
    margin-bottom: 0.3rem; 
}

.foot-text{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    color: white;
    text-align: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.528470763305322) 50%, rgba(252,176,69,1) 100%);  
}

h4{
    display: inline-block;
    text-align: center;
    text-wrap: 2rem;
    vertical-align: middle;
    color: black;
}